* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: Arial, san-seif;
}

li {
	text-decoration: none;
	list-style: none;
}

button {
	border-radius: 10px;
	border-style: none;
}

/* Start here */
header {
	background-color: white;
	text-align: center;
	align-items: center;
	padding: 5%;
	position: relative;
}

header h1 {
	color: #0836BC;
}

header li {
	margin: 0 1em;
	font-size: 1.5rem;
}

header li:first-child {
	color: #989EA6;
}

header a {
	text-decoration: none;
	color: black;
}

.hamburger-menu {
	height: 50px;
	width: 50px;
	border: 1px solid lightgray;
	position: absolute;
	right: 10px;
	top: 13px;
}

.banner {
	display: flex;
	align-items: center;
	height: 100vh;
	padding: 0 7%;
	background-color: #0836BC;
}

.banner section {
	color: white;
	font-size: 1.2rem;
	margin: 0 auto;
}

.banner button {
	color: #0836BC;
	font-size: 1rem;
	padding: 20px;
}

.feature {
	display: initial;
}

.feature .card {
	border: 1px solid #dcdcdc;
	border-radius: 5px;
	margin: 5px;
	text-align: center;
	overflow: hidden;
	position: relative;
}

.feature .card-text {
	z-index: 10;
	position: absolute;
	top: 50px;
	left: 50%;
	transform: translate(-50%, 0);
}

.feature .card-text h3 {
	color: grey;
	font-size: 20px;
	margin-bottom: 10px;
}

.feature .card-text p {
	font-size: 20px;
	line-height: 40px;
}

.feature .card-text button {
	padding: 12px 20px;
	margin-top: 15px;
	color: grey;
	font-size: 18px;
	background-color: white;
	border: 1px solid grey;
}

.feature .card img {
	width: 100%;
	display: block;
	position: relative;
	top: 86px;
}

.contact {
	text-align: center;
	height: 100vh;
	padding-top: 40vh;
}

footer {
	padding: 5px;
}

footer .ft-col {
	margin: 5px;
	padding: 5px;
}

footer .ft-col > h4 {
	margin-bottom: 10px;
}

@media (min-width: 1024px) {
	header {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-content: center;
		padding: 20px 80px;
	}

	header * {
		display: inline-block;
	}

	header h1 {
		font-size: 52px;
		margin-right: auto;
	}

	header .hamburger-menu {
		position: initial;
	}

	.banner {
		height: 150vh;
		padding: 0 10%;
	}

	.banner section {
		max-width: 50%;
		font-size: 3rem;
		margin: 0 auto 0 0;
	}

	.banner p {
		font-size: 0.6em;
		line-height: 2em;
		margin-top: 30px;
	}
	.banner button {
		margin-top: 25px;
		font-size: 2rem;
		padding: 30px 40px;
	}

	.feature {
		display: flex;
		justify-content: space-around;
	}

	.feature .card {
		width: calc((100% - (1% * 6)) / 3);
		margin: 20px auto;
	}

	.contact {
		height: 150vh;
	}

	.contact p {
		font-size: 34px;
		color: gray;
		margin-bottom: 20px;
	}

	.contact h2 {
		font-family: new times roman;
		font-size: 64px;
		margin-bottom: 70px;
	}

	.contact button:first-of-type {
		width: 500px;
		padding: 30px 0;
		margin: 10px 20px;
		background-color: #0836BC;
		color: white;
	}

	.contact button:last-of-type {
		width: 500px;
		padding: 30px 0;
		margin: 10px 20px;
		background-color: white;
		color: #0836BC;
		border: 1px solid lightgray;
	}

	.contact button {
		font-size: 30px;
	}

	footer {
		padding: 70px 45px 0 70px;
		display: flex;
		flex-direction: row;
	}

	footer > * {
		flex-grow: 1;
	}

	footer > .company {
		flex-grow: 2;
	}

	footer .ft-col h4 {
		font-size: 1.3em;
		margin-bottom: 35px;
	}

	footer .ft-col li {
		color: grey;
		font-size: 22px;
		line-height: 48px;
	}
}